:root {
  --black: black;
  --white: white;
  --light-cyan: #d8fcff;
  --light-goldenrod-yellow: #f6ffd8;
  --deep-pink: #ff006d;
  --silver: #b8b7b7;
}

body {
  color: #fff;
  background-color: #0e0e0e;
  background-image: linear-gradient(#0e0e0ecc, #0e0e0ecc), url('../images/Group-65.svg');
  background-position: 0 0, 50%;
  background-size: auto, auto;
  height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

p {
  margin-bottom: 0;
  font-family: Source Code Pro, sans-serif;
  font-size: 17px;
  line-height: 25px;
}

img {
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

.content-wrapper {
  z-index: 1;
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  border-radius: 32px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  position: relative;
}

.typed-words {
  color: #fff;
  text-align: left;
  font-family: Source Code Pro, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  display: inline-block;
}

.console {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #0e0e0e24;
  background-image: linear-gradient(225deg, #00ea6352, #0e0e0e8a);
  border-radius: 15px;
  width: 100%;
  height: auto;
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 20px 20px -3px #00000026;
}

.console.html {
  margin-bottom: 50px;
  left: -25%;
}

.console.scss {
  margin-bottom: 50px;
  left: -10%;
}

.console.js {
  flex-direction: column;
  justify-content: center;
  display: flex;
  left: -20%;
}

.console--icon {
  margin-right: 15px;
  display: flex;
}

.console--top-wrapper {
  flex-wrap: wrap;
  place-content: flex-start;
  align-items: center;
  height: 100%;
  margin-bottom: 5px;
  display: flex;
}

.console--heading {
  color: #ccc;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: 400;
}

.console--icon-right {
  flex: 0 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
}

.console--heading-wrapper {
  margin-right: auto;
  position: relative;
  left: 0;
}

.console--inner {
  width: 100%;
  height: 100%;
}

.console--p {
  font-family: Source Code Pro, sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.color-a {
  color: #a88038;
}

.color-b {
  color: #e1ca72;
}

.color-c {
  color: #74b087;
}

.color-d {
  color: #7a99ad;
}

.color-e {
  color: #9f8198;
}

.color-f {
  color: #de7300;
}

.console-wrapper {
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.form-block {
  margin-top: 52px;
  margin-bottom: 44px;
}

.text-field {
  letter-spacing: 1px;
  min-height: 70px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Source Code Pro, sans-serif;
}

.text-field::placeholder {
  color: #000;
  font-weight: 700;
}

.form {
  max-width: 550px;
  display: flex;
}

.page-content {
  width: 50%;
}

.form-submit-button {
  background-color: #5f906f;
  padding: 20px 24px;
  font-family: Source Code Pro, sans-serif;
  font-weight: 700;
}

.section {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
}

.image {
  height: 100%;
}

.buy-me-a-coffee {
  perspective-origin: 0%;
  transform-origin: 0%;
  position: absolute;
  inset: auto auto 0% 50px;
  transform: translate(0)scale(.8);
}

.primary-btn {
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  background-color: #00ea63;
  border-radius: 8px;
  max-width: 180px;
  margin-top: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: transform .3s;
  display: block;
  box-shadow: 0 2px 5px #0003;
}

.primary-btn:hover {
  transform: translate(3px, -3px);
}

.dvllo-logo {
  z-index: 1;
  position: absolute;
  inset: 0%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 991px) {
  .content-wrapper {
    flex-direction: column;
  }

  .console.html, .console.scss, .console.js {
    left: auto;
  }

  .console-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .page-content {
    width: 100%;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 479px) {
  .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .typed-words {
    font-size: 13px;
    line-height: 20px;
  }

  .console-wrapper {
    position: relative;
  }

  .form {
    flex-direction: column;
  }

  .page-content {
    max-width: 100%;
    position: relative;
  }

  .section {
    height: 100%;
    position: relative;
  }

  .paragraph {
    font-size: 13px;
    line-height: 20px;
  }
}


